<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #FFFFE0;
}

h1{
    background-color: #dbff33;
}
p{
  background-color: #dbff33;
}
button{
  background-color: #E6E6FA;
}
button:hover{
  background-color: #3e8e41;
}
</style>
</head>
<body>

<button onclick="window.location.href = 'http://127.0.0.1:5050/';">Logout</button>

<h1>Welcome to the Anime film directory!</h1>
<p>Click on the button below to see the list of films!</p>

<button onclick="window.location.href = 'http://127.0.0.1:5050/films';">Films</button>

</body>
</html>
